<nav class="navbar navbar-expand-sm navbar-light d-flex justify-content-center" style="background-color: #8C9BB6; color: #2B293B; height: 60px;">
  <ul class="navbar-nav " style="font-size: 25px;">
    <li class="nav-item">
      <a routerLink="home" routerLinkActive="active" class="nav-link mr-5" style="color: #2B293B;">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="employees" routerLinkActive="active" class="nav-link mr-5" style="color: #2B293B;">Employees</a>
    </li>
  
    <li class="nav-item">
      <a routerLink="attributes" routerLinkActive="active" class="nav-link  mr-5" style="color: #2B293B;">Attributes</a>
    </li>
  
  
    <li class="nav-item">
      <a routerLink="search-employee" routerLinkActive="active" class="nav-link" style="color: #2B293B;">Map</a>
    </li>
  
  </ul>
</nav>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>

