<div class="d-flex text-center " style="margin-top: 100px">
    <h2 class="text-right col-7 " style="font-size: 35px;"> Employee List</h2>
    <button routerLink="../create-employee" routerLinkActive="active" class="btn ml-5 h-25 "
        style="float: right; background-color: #8C9BB6; font-size: 20px;">Add Employee</button>
</div>
<div class="container  " style="border: 1px solid black; border-radius: 15px; background-color: #8C9BB6; margin-top: 5px;" >

    <table class="table table-striped" style="font-size: large; border-radius: 15px; border: 2px solid black; margin-top: 1rem; background-color: white;"  >
        <thead>
            <tr>
                <th></th>
                <th class="text-center">Name</th>
                <th>Date of Birth</th>
                <th class="text-center">Address</th>
                <th>Vehicles</th>
                <th class=" text-center">Attributes</th>
            </tr>
        </thead>
        <tbody>
            <tr class="employeeRows pt-0"  *ngFor="let employee of employees; let i=index;"
                (click)="employeeDetails(employee.id)">
                <td style="border-right: 1px solid gray; padding-top: 20px;">{{i+1}}</td>
                <td class="text-center" style="padding-top: 20px;">{{employee.name}}</td>
                <td  style="padding-top: 20px;">{{employee.dateOfBirth}}</td>
                <td class="text-center" style="padding-top: 20px;">{{employee.address}}, {{employee.city}}</td>
                <td> <span id="car">
                        <i *ngIf="employee.carOwned==true" class="fas fa-2x fa-car"></i>
                        <span class="driving">Employee drives a car</span>
                    </span></td>
                <td class="text-center">

                    <span *ngFor="let attribute of employee.attributes" id="spanish">  
                                    
                        <i class="fas fa-2x fa-file-alt ml-2" ></i>
                   
                        <span class="tooltiptext">{{attribute.attrName}}
                           
                        </span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
