<div class="d-flex offset-md-1 " style="margin-top: 160px;">
    <div class="" style="background-color: #8C9BB6;">
      <a routerLink="../employees" style="color: #2B293B; text-decoration: none   ;" >
        <div style="padding: 80px;   border: 2px solid black;">
          <h2 class="text-center">Employees</h2>
          <i class="fas fa-9x fa-users "></i>
        </div>
      </a>
    </div>
    <div class="  ml-2" style="background-color: #8C9BB6;">
        <a routerLink="../attributes" style="color: #2B293B; text-decoration: none   ;" >
          <div style="padding: 80px;  border: 2px solid black;">
            <h2 class="text-center">Attributes</h2>
            <i class="fas fa-9x fa-tasks "></i>
          </div>
        </a>
      </div>
      <div class="  ml-2" style="background-color: #8C9BB6;">
        <a routerLink="../search-employee" style="color: #2B293B; text-decoration: none   ;" >
          <div style="padding: 80px;  border: 2px solid black;">
            <h2 class="text-center">Map</h2>
            <i class="fas fa-9x fa-map-marked-alt "></i>
          </div>
        </a>
      </div>
  </div>